.placeholder {
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #c9c9c9;
  background: linear-gradient(to right, #d0d0d0 8%, #dddddd 38%, #d0d0d0 54%);
  background-size: 1000px 640px;
  position: relative;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0% 0;
  }
}
